body{
    background-color: #393E46;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
    display: block;
    position: relative;
}
h1{
    margin: 30px 0px;
    margin-right: 130px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
}
.dice{
    text-align: center;
    display: inline-block;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
}
img{
    height: 200px;
    width: 200px;
    margin: 0px 50px;
    border-radius: 25%;
}
.btn{
    background-color: #4ECCA3;
    color: black;
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 25%;
    position: relative;
    top: 100px;
    right: 340px;

}